/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@0,400;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

.bg-primary {
  background-color: #aa0601;
}

.bg-header {
  background-image: url(../images/home-header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .bg-header {
    background: url(../images/home-header-sm.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.bg-pink {
  background: #FBF2F2;
}

.bg-white {
  background: #fff;
}

.bg-section-4 {
  background: url(../images/index-bg.png);
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

@media (max-width: 768px) {
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
  .order-md-1 {
    order: 1;
  }
}
@media (max-width: 375px) {
  .d-sm-block {
    display: block;
  }
  .d-sm-none {
    display: none;
  }
  .order-sm-1 {
    order: 1;
  }
}
.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}
@media (max-width: 992px) {
  .container {
    max-width: 968px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 746px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 370px;
  }
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.666%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 992px) {
  .col-lg-12 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .col-md-6 {
    width: 50%;
  }
  .col-md-8 {
    width: 66.666%;
  }
  .col-md-10 {
    width: 83.333%;
  }
  .col-md-12 {
    width: 83.333%;
  }
}
@media (max-width: 375px) {
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-8 {
    width: 66.666%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.fs-14 {
  font-size: 14px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-36 {
  font-size: 36px;
}

.fs-42 {
  font-size: 42px;
}

.fs-48 {
  font-size: 48px;
}

.fs-64 {
  font-size: 64px;
}

.fw-bold {
  font-weight: bold;
}

@media (max-width: 768px) {
  .fs-md-16 {
    font-size: 16px;
  }
  .fs-md-24 {
    font-size: 24px;
  }
}
@media (max-width: 375px) {
  .fs-sm-16 {
    font-size: 16px;
  }
  .fs-sm-24 {
    font-size: 24px;
  }
}
.navbar {
  padding: 16px 0;
}
@media (max-width: 768px) {
  .navbar {
    padding-bottom: 0;
  }
}

.navbar-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .navbar-wrap {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

.navbar-logo {
  width: 80px;
}
@media (max-width: 768px) {
  .navbar-logo {
    margin: 0 0 16px 16px;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar-nav {
    flex-wrap: wrap;
  }
}

.navbar-item {
  height: 100%;
}
@media (max-width: 768px) {
  .navbar-item {
    width: 50%;
    margin-right: 0px;
    border: 1px solid #ffffff;
  }
}

.navbar-link {
  height: 100%;
  display: block;
  font-size: 20px;
  color: #ffffff;
  padding: 8px 32px;
}
@media (max-width: 768px) {
  .navbar-link {
    font-size: 16px;
    text-align: center;
    padding: 12px 0;
  }
}

.navbar-link:hover {
  opacity: 0.7;
}

.navbar-item:last-child .navbar-link {
  padding-right: 0;
}

.test {
  outline: 1px solid rgb(96, 219, 116);
}

.h-100 {
  height: 100%;
}

.ms-auto {
  margin: 0 0 0 auto;
}

.mx-auto {
  margin: 0 auto;
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-80 {
  padding: 80px 0;
}

.p-16 {
  padding: 16px;
}

.py-16 {
  padding: 16px 0;
}

.pt-32 {
  padding-top: 32px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-32 {
  padding-bottom: 32px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-72 {
  margin-bottom: 72px;
}

.me-4 {
  margin-right: 4px;
}

.me-16 {
  margin-right: 16px;
}

.me-22 {
  margin-right: 22px;
}

.me-48 {
  margin-right: 48px;
}

@media (max-width: 768px) {
  .me-md-8 {
    margin-right: 8px;
  }
  .me-md-10 {
    margin-right: 10px;
  }
  .mb-md-8 {
    margin-bottom: 8px;
  }
  .mb-md-20 {
    margin-bottom: 20px;
  }
  .py-md-24 {
    padding: 24px 0;
  }
  .py-md-40 {
    padding: 40px 0;
  }
  .pt-md-20 {
    padding-top: 20px;
  }
  .me-md-auto {
    margin: 0 auto 0 0;
  }
}
@media (max-width: 375px) {
  .me-sm-8 {
    margin-right: 8px;
  }
  .me-sm-10 {
    margin-right: 10px;
  }
  .mb-sm-8 {
    margin-bottom: 8px;
  }
  .mb-sm-20 {
    margin-bottom: 20px;
  }
  .py-sm-24 {
    padding: 24px 0;
  }
  .py-sm-40 {
    padding: 40px 0;
  }
  .pt-sm-20 {
    padding-top: 20px;
  }
  .me-sm-auto {
    margin: 0 auto 0 0;
  }
}
.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.align-items-center {
  align-items: center;
}

.vertical-align-middle {
  vertical-align: middle;
}

.text-white {
  color: #fff;
}

.text-gary {
  color: #707070;
}

.text-primary {
  color: #aa0601;
}

.text-secondary {
  color: #650300;
}

.header {
  height: calc(100vh - 80px);
  line-height: 1.5;
}
.header .header-wrap {
  margin: 296px 0 296px auto;
}
.header .header-wrap h2 {
  font-size: 36px;
}
.header .header-wrap h1 {
  font-size: 64px;
  font-weight: bold;
}
.header .header-wrap button {
  font-size: 20px;
  margin-top: 8px;
  padding: 6px 12px;
  border: 0;
}
@media (max-width: 768px) {
  .header {
    height: 396px;
  }
  .header .header-wrap {
    width: 100%;
    margin: 144px 0 144px auto;
  }
  .header .header-wrap h2 {
    font-size: 16px;
  }
  .header .header-wrap h1 {
    font-size: 24px;
    font-weight: bold;
  }
  .header .header-wrap button {
    font-size: 20px;
    padding: 6px 12px;
  }
}

.section-2-img {
  width: 83px;
}

.index-form-btn {
  max-width: 416px;
}
.index-form-btn:hover {
  background-color: #650300;
}

.input-style {
  background-color: transparent;
  padding: 6px 12px;
  width: 100%;
  border: 1px solid #000000;
}

.feedback {
  resize: none;
  min-height: 136px;
}

.material-symbols-outlined {
  width: 48px;
  height: 48px;
  font-size: 36px !important;
}
@media (max-width: 768px) {
  .material-symbols-outlined {
    width: 24px;
    height: 24px;
    font-size: 24px !important;
  }
}

.footer-ic-social {
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
  .footer-ic-social {
    width: 24px;
    height: 24px;
  }
}

.border-top-white {
  border-top: 1px solid #fff;
}/*# sourceMappingURL=all.css.map */