body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

.d-block {
  display: block;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.order-1 {
  order: 1
}
.order-2 {
  order: 2
}
.order-3 {
  order: 3
}
@media (max-width: 768px) {
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
  .order-md-1 {
    order: 1;
  }
}
@media (max-width: 375px) {
  .d-sm-block {
    display: block;
  }
  .d-sm-none {
    display: none;
  }
  .order-sm-1 {
    order: 1;
  }
}
.flex-column {
  flex-direction: column;
}
.flex-grow-1 {
  flex-grow: 1;
}
.align-items-start {
  align-items: start;
}
.align-items-center {
  align-items: center;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
  @media (max-width: 992px) {
    max-width: 968px;
  }
  @media (max-width: 768px) {
    max-width: 746px;
  }
  @media (max-width: 375px) {
    max-width: 370px;
  }   
}

.col-1 {
  width: 8.333%;
}
.col-2 {
  width: 16.666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.col-5 {
  width: 41.666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333%;
}
.col-8 {
  width: 66.666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333%;
}
.col-11 {
  width: 91.666%;
}
.col-12 {
  width: 100%;
}
@media (max-width: 992px) {
  .col-lg-12 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .col-md-6 {
    width: 50%;
  }
  .col-md-8 {
    width: 66.666%;
  }
  .col-md-10 {
    width: 83.333%;
  }
  .col-md-12 {
    width: 83.333%;
  }
}
@media (max-width: 375px) {
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-8 {
    width: 66.666%;
  }
  .col-sm-12 {
    width: 100%;
  }
}


.row {
  // margin-left: -12px;
  // margin-right: -12px;
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}




.fs-14 {
  font-size: 14px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-32 {
  font-size: 32px;
}
.fs-36 {
  font-size: 36px;
}
.fs-42 {
  font-size: 42px;
}
.fs-48 {
  font-size: 48px;
}
.fs-64 {
  font-size: 64px;
}

.fw-bold {
  font-weight: bold;
}

@media (max-width: 768px) {
  .fs-md-16 {
    font-size: 16px;
  }
  .fs-md-24 {
    font-size: 24px;
  }
}
@media (max-width: 375px) {
  .fs-sm-16 {
    font-size: 16px;
  }
  .fs-sm-24 {
    font-size: 24px;
  }
}